
html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #fd0000;
    color: #ffffff;
    padding: 15px;
}

body {
    background-color: #02b5fc;
}

.header h1 {
    color: white;
    background-color: red;
}

/* navigation bar */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

/* link styles */
a:link {
    text-decoration: none;
    color: #ffffff;
}
a:visited {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}
a:active {
    text-decoration: none;
    color: #ffffff;
}

